---
---

@import "vendor/normalize";
@import "vendor/rem";

// Typography

html {
    font-size: 62.5%;
}
body {
    @include rem(font-size, 14px);
    line-height: 1.3;
    color: #ddd;
}
h1, h2, h3, p, ul {
    margin: 0;
    @include rem(margin-bottom, 14px);
    font-weight: normal;
}
h1 {
    @include rem(font-size, 24px);
}
h2 {
    @include rem(font-size, 14px);
    text-transform: uppercase;
}
h3 {
    @include rem(font-size, 14px);
    text-transform: uppercase;
}
a {
    color: inherit;
}


// Basic layout styles

html {
    height: 100%;
}
body {
    height: 100%;
    background-color: #33353a;
}
.header, .main, .footer {
    @extend .clearfix;
}
.header, .footer {
    padding: 15px;
}
.main {
    height: 90%;
    background-color: #2a2c30;
}

@media only screen and (max-width: 720px) {
    .main {
        height: auto;
    }
}


// Header

.site-name, .tagline {
    @include rem(line-height, 24px);
    margin-bottom: 0;
    float: left;
}
.site-name {
    margin-right: 15px;
}
.tagline {
    float: left;
}


// Columns

.column {
    float: left;
    box-sizing: border-box;
    height: 100%;
}

@media only screen and (max-width: 720px) {
    .column {
        float: none;
        height: auto;
    }
}


// Input area

.input-area {
    width: 60%;
}
.post-input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px;
    resize: none;
    background-color: #1d1e20;
    border: 1px solid #999;
    border: none;
    @include rem(font-size, 16px);
    line-height: 1.5;
    color: rgba(255, 255, 255, .6);
}
.post-input:focus {
    outline: none;
}

@media only screen and (max-width: 720px) {
    .input-area {
        width: auto;
    }
    .post-input {
        width: 100%;
        height: 300px;
    }
}


// Output area

.output-area {
    width: 40%;
    overflow: auto;
    padding: 20px;
}
.output-tally, .output-issues {
    box-sizing: border-box;
    @extend .clearfix;
}

@media only screen and (max-width: 720px) {
    .output-area {
        width: auto;
    }
    .output-tally, .output-issues {
        float: left;
        width: 50%;
    }
}

@media only screen and (max-width: 550px) {
    .output-tally, .output-issues {
        float: none;
        width: auto;
    }
}


// Issue list

.issue-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.issue-list li {
    margin-bottom: 20px;
}
.issue {
    padding: 10px;
    background-color: #3a3f48;
}
.issue-error {
    background-color: #483a3a;
}
.issue-warning {
    background-color: #48463a;
}
.issue h3, .issue p {
    @include rem(margin-bottom, 10px);
}
.issue p:last-child {
    margin-bottom: 0;
}
.level {
    text-transform: none;
    color: rgba(255, 255, 255, .6);
}
.context {
    padding: 10px;
    background-color: #1d1e20;
    color: rgba(255, 255, 255, .6);
    @include rem(font-size, 16px);
    line-height: 1.5;
}
.occurance {
    display: inline-block;
    padding: 2px 5px;
    background-color: #693434;
    font-style: normal;
    color: #fff;
}
.reason {
    color: rgba(255, 255, 255, .6);
    font-style: italic;
}
.no-issues {
    color: #5ba348;
}


// Count chart

.count-chart {
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    list-style: none;
}
.count {
    margin-bottom: 5px;
    overflow: hidden;
    @extend .clearfix;
}
.count span {
    display: block;
    float: left;
}
.bar-label {
    width: 15%;
    overflow: hidden;
}
.bar {
    background-color: #a89b4a;
    border-left: 2px solid #aaabac;
    max-width: 70%;
    margin-right: 10px;
    transition: width .2s ease;
}
.number {
    color: rgba(255, 255, 255, .6);
}
.number:before {
    content: "("
}
.number:after {
    content: ")"
}

@media only screen and (max-width: 1100px) {
    .bar-label {
        width: 20%;
    }
    .bar {
        max-width: 65%;
    }
}

@media only screen and (max-width: 900px) {
    .bar-label {
        width: 25%;
    }
    .bar {
        max-width: 60%;
    }
}


// Overlays

.modal, .overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}
.modal {
    background-color: #000;
    opacity: .5;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    z-index: 500;
}
.overlay {
    z-index: 501;
}
.overlay-inner {
    width: auto;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #33353a;
    @include rem(font-size, 16px);
}
.overlay-inner a {
    color: #ddd;
}


// Clearfix

.clearfix {
    zoom: 1;
}
.clearfix:before, .clearfix:after {
    display: table;
    content: '';
}
.clearfix:after {
    clear: both;
}


// Hiding

.visually-hidden {
    width: 1px;
    height: 1px;
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
}
