/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

body {
    background-color:#504A46;
    font-size:20px;
    line-height: 1.5;
    font-family: "Open Sans", "Helvetica-Neue", "Helvetica", Arial, sans-serif;
    color:#f1f1f1;
}
h1, .h1, h2, .h2, h3, .h3 {
    line-height:1.2;
    font-weight:bold;
    margin-top:10px;
}
h1, .h1, h2, .h2 {
    text-transform: uppercase;
}
h1, .h1 {
    font-size:50px;
    margin-bottom:25px;
    color:#c8b0e8;
}
h2, .h2 {
    font-size:40px;
    margin-bottom:40px;
    color:#f1f1f1;
}
h3, .h3 {
    font-size:34px;
    margin-bottom:15px;
}
p {
    margin-bottom:35px;
}
code {
    white-space: nowrap;
    color: #83C7AE;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    text-transform:lowercase;
}
pre {
    display: block;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #C6C0BD;
    border: solid 3px #F1F1F1;
    color: #555555;
    padding:20px;
    font-size:16px;
    line-height:1.5;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    margin-bottom:50px;
    white-space: pre-wrap;
}
a {
    color:#BD9FE6;
    text-decoration:none;
}
a:hover, a:active, a:focus {
    color:#D5BFF2;
}
ul {
    padding-left:20px;
    margin-bottom:60px;
}
li {
    list-style-type: disc;
    padding-left:10px;
    margin-bottom:10px;
}
li:last-child {
    margin-bottom:0;
}
label {
    text-transform:uppercase;
}
textarea {
    font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
    background-color: #F1F1F1;
    border: solid 3px #F1F1F1;
    box-shadow: none;
    color: #555555;
    display: block;
    font-size: 16px;
    line-height: 1.5;
    height: 400px;
    padding: 1%;
    transition: border-color 0.3s ease-in-out 0s;
    -moz-transition: border-color 0.3s ease-in-out 0s;
    -webkit-transition: border-color 0.3s ease-in-out 0s;
    -o-transition: border-color 0.3s ease-in-out 0s;
    width: 97%;
    margin-bottom:30px;
    margin-top:20px;
}
textarea:focus, textarea:hover, textarea:active  {
    border:solid 3px #C8B0E8;
    outline: 0 none;
}
small {
    font-size:16px;
}
.box {
    background-color:#504A46;
}
.spaced {
    padding:25px;
}
.tab {
    display:inline-block;
    padding:10px 25px 1px 25px;
    margin-bottom:0;
    text-transform: uppercase;
}
.upper {
    text-transform: uppercase;
}
.pull-right {
    float:right;
}
.pull-left {
    float:left;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}
.lead {
    font-weight:bold;
    font-size:38px;
    line-height:1.333;
    margin-bottom:55px;
    margin-top:0;
    color:#f1f1f1;
    text-transform: none;
}
.sub-lead {
    font-size:20px;
    line-height:1.333;
}
.header, .footer {
    padding:40px 0;
}
.footer {
    padding:80px 0 20px 0;
}
.triangle {
    position:relative;
}
.triangle-before:before, .triangle-after:after {
    content:"";
    pointer-events:none;
    position:absolute;
    z-index:10;
}
.triangle-before:before, .triangle-after:after {
    height:40px;
    width:40px;
    left:50%;
    -ms-transform: translateX(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) rotate(45deg);
    -o-transform: translateX(-50%) rotate(45deg);
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
}
.triangle-before:before {
    background-color:#504A46;
    top:-20px;
}
.triangle-after:after {
    background-color:#97857E;
    bottom:-20px;
}
.triangle-reversed:before {
    background-color:#97857E;
}
.triangle-reversed:after {
    background-color:#504A46;
}
.triangle-right:after {
    background-color:#504A46;
    height:30px;
    width:30px;
    left:100%;
    top:5px;
}
.container {
    width:80%;
    max-width:980px;
    margin:0 auto;
}
.main-content {
    padding:70px 0 70px 0;
    background-color:#97857E;
}
.btn {
    cursor: pointer;
    display: inline-block;
    font-size: 26px;
    line-height: 1.42857;
    padding:14px 22px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border:2px solid #AD8FDC;
    color:#504A46;
    background-color:#C8B0E8;
    text-transform:uppercase;
    font-weight:bold;
    opacity:1;
    transition: opacity 0.15s ease-in-out 0s;
    -moz-transition: opacity 0.15s ease-in-out 0s;
    -webkit-transition: opacity 0.15s ease-in-out 0s;
    -o-transition: opacity 0.15s ease-in-out 0s;
}
.btn:hover {
    opacity:0.8;
    text-decoration:none;
    color:#504A46;
}
.bar-chart-container {
    margin-bottom:80px;
}
.bar-chart {
    width:80%;
    color:#e1e1e1;
}
.bar {
    background-color:#e1e1e1;
    color:#e1e1e1;
    height:40px;
    margin-bottom:20px;
}
.bar:last-child {
    margin-bottom:0;
}
.success {
    color:#93c151;
}
.error {
    color:#FAA086;
}
.warning {
    color:#FBEE9E;
}
.notice {
    color:#90c6e4;
}
.nav {
    margin:0;
    padding-left:0;
}
.nav li {
    float:left;
    list-style-type: none;
    margin:0 20px 0 0;
    padding:0;
}
.nav li.last {
    margin-right:0;
}
.nav li a {
    text-transform: uppercase;
    display:block;
    padding:15px;
     transition: background 0.15s ease-in-out 0s;
     -moz-transition: background 0.15s ease-in-out 0s;
     -webkit-transition: background 0.15s ease-in-out 0s;
     -o-transition: background 0.15s ease-in-out 0s;
}
.nav li a:hover, .nav li .active {
    background:#97857E;
    color:#f1f1f1;
}
.header .nav {
    float:right;
}
.results {
    margin:0 0 70px 0;
}
.results p {
    margin-bottom:5px;
}
.results li {
    margin-bottom:30px;
    padding:0;
    list-style-type: none;
}
.result-detail {
    font-size:16px;
    line-height:1.25;
}
.error-detail {
    color:#F8B7A4;
}
.warning-detail {
    color:#FDF6CA;
}
.notice-detail {
    color:#B6D8EC;
}

@media (max-width:800px) {
    .header {
        padding:20px 0;
    }
    .footer {
        padding-top:60px;
        padding-bottom:10px;
    }
    .lead {
        font-size:28px;
    }
}

@media (max-width:640px) {
    .container {
        width:90%;
    }
    h3, .h3 {
        font-size:28px;
        margin-bottom:8px;
    }
    .nav li {
        margin-right:5px;
    }
    .nav li a {
        padding:8px;
        font-size:16px;
    }
    pre {
        font-size:12px;
        padding:10px;
        border-width:2px;
    }
    textarea {
        height:300px;
    }
}

@media (max-width:480px) {
    body {
        font-size:16px;
    }
    .container {
        width:90%;
    }
    .triangle:before
     {
        width:20px;
        height:20px;
        top:-10px;
    }
    .triangle:after {
        width:20px;
        height:20px;
        bottom:-10px;
    }
    .lead {
        font-size:22px;
        margin-bottom:35px;
    }
    .sub-lead {
        font-size:18px;
    }
    .header, .footer {
        text-align:center;
    }
    .header h1, .header .h1 {
        margin-bottom:10px;
    }
    .header .nav { 
        float:none;
    }
    .header .nav li {
        width:50%;
        float:left;
        margin:0;
    }
    .main-content {
        padding:40px 0;
    }
}
@media (max-width:360px) {
    .lead {
        font-size:16px;
    }
    textarea {
        height:250px;
    }
    .btn {
        padding:7px 13px;
        font-size:22px;
    }
}