<header>
	<div class="header">
		<div class="container">
			<h1 class="heading"><a href="/">Joblint</a></h1>
			<p class="lead">Test tech job specs for issues with sexism, culture, expectations, and recruiter fails.</p>
            <p>
                <b>Writing a job spec?</b>
                Use Joblint to make your job attractive to a much broader range of candidates.<br/>
                <b>Getting swamped in job specs?</b>
                Use Joblint to filter out the bad ones.
            </p>
		</div>
	</div>
</header>