
<header>
    <div class="header" role="banner">
        <div class="container clearfix">

            <ul class="nav floated-list clearfix" role="navigation">
                <li><a href="/">Lint A Job</a></li>
                <li class="last"><a href="/developer">Web Service</a></li>
            </ul>

            {{#if isHomePage}}<h1>{{else}}<div class="h1">{{/if}}
                <a href="/">Joblint</a>
            {{#if isHomePage}}</h1>{{else}}</div>{{/if}}

        </div>
    </div>
</header>
