
<p>
    This source code for this site is
    <a href="https://github.com/rowanmanning/joblint/tree/gh-pages">available on GitHub</a>.<br/>
    You can also contribute to the <a href="https://github.com/rowanmanning/joblint">Joblint library</a>
    if you have feedback on some of the rules.
</p>

<p>
    <small>
        Copyright &copy; {{ site.time | date: '%Y' }},
        <a href="http://rowanmanning.com/">Rowan Manning</a> and
        <a href="http://www.phwebs.co.uk/">Perry Harlock</a>
    </small>
</p>
