<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Page meta-information -->
    <meta charset="utf-8"/>
    <title>{{page.title}}</title>
    <meta name="description" content="{{page.description}}"/>

</head>
<body>

    <div class="page">

        <div role="banner" class="header">
            <header>
                {% include site/header.html %}
            </header>
        </div>

        <div role="main" class="main">
            {{content}}
        </div>

        <div role="contentinfo" class="footer">
            <footer>
                {% include site/footer.html %}
            </footer>
        </div>

    </div>

    <div id="unsupported" style="display: none;">
        Sorry, your browser is not supported by Joblint.
        Please consider using the
        <a href="https://github.com/rowanmanning/joblint">command-line tool</a>
        or for a faster and safer browsing experience,
        <a href="http://browsehappy.com/" target="_blank">Upgrade your browser</a>.
    </div>

    <noscript>
        <div>
            Sorry, Joblint requires JavaScript to run.
            Please consider using the
            <a href="https://github.com/rowanmanning/joblint">command-line tool</a>
            if you don't wish to enable JavaScript.
        </div>
    </noscript>

    <!--[if gt IE 8]><!-->
        <script src="/asset/script/vendor/jquery.js"></script>
        <script src="/asset/script/vendor/cuff.js"></script>
        <script src="/asset/script/vendor/hogan.js"></script>
        <script src="/asset/script/vendor/joblint.js"></script>
    <!--<![endif]-->
    <script src="/asset/script/main.js"></script>

</body>
</html>
