
{{#content "title"}}Joblint Web Service Documentation{{/content}}
{{#content "description"}}Documentation for developers intending to use the Joblint.org web service.{{/content}}

<h1 class="h2">Web Service Documentation</h1>

<p>
    The Joblint web service offers a simple way to lint your job specs without
    installing on your local machine. There is a single endpoint, and there
    aren't any rate limits (at the moment) – just be nice please :)
</p>

<h2 class="h3">Request</h2>

<pre>POST http://joblint.org/ws HTTP/1.1
User-Agent: MyApp/1.0 (a unique identifier for your application)
Content-Type: application/json

{spec:"Your job spec goes here"}</pre>

<h2 class="h3">Response</h2>

<pre>HTTP/1.1 200 OK
Content-Type: application/json; charset=utf-8

{
    "failPoints": {
        "culture": 0,
        "realism": 0,
        "recruiter": 0,
        "tech": 0
    },
    "errors": [ ... ],
    "warnings": [ ... ],
    "notices": [ ... ]
}</pre>
