
{{#content "title"}}Joblint Web Service Documentation{{/content}}

{{#content "header"}}
    <h1 class="heading">Joblint Web Service Documentation</h1>
    <p class="lead">
        The Joblint web service offers a simple way to lint your job specs without
        installing on your local machine. There is a single endpoint, and there
        aren't any rate limits (at the moment) – just be nice please :)
    </p>
{{/content}}

<h2>POST http://joblint.org/ws</h2>

<h3>Request</h3>

<pre>POST http://joblint.org/ws HTTP/1.1
Content-Type: application/json

{spec:"Your job spec goes here"}</pre>

<h3>Response</h3>

<pre>HTTP/1.1 200 OK
Content-Type: application/json; charset=utf-8

{
    "failPoints": {
        "culture": 0,
        "realism": 0,
        "recruiter": 0,
        "tech": 0
    },
    "errors": [ ... ],
    "warnings": [ ... ],
    "notices": [ ... ]
}</pre>
