
{{#content "title"}}Joblint{{/content}}
{{#content "description"}}Test tech job specs for issues with sexism, culture, expectations, and recruiter fails.{{/content}}

<p class="lead">
    Test tech job specs for issues with sexism, culture, expectations, and recruiter fails.
</p>

<form action="/" method="post">
    <label class="sub-lead" for="spec-input">Paste your job spec below</label>
    <textarea name="spec" id="spec-input"></textarea>
    <input class="btn" type="submit" value="Lint"/>
</form>
